.box-hearder a{
	background: #fff none repeat scroll 0 0;
	float: left;
	margin-left: 40px;
	margin-top: -15px;
	padding: 0px 10px;
}
.box-hearder{
	border-top: 5px solid red;
	padding-right: 0px;
	padding-top: 5px;
}
img{
	width: 180px;
	height: 135px;
}
a{
	font-size: 18px;
	text-decoration: none;
}
.head{
	width: 760px;
	height: 180px;
	margin: 100px 50px 100px 200px;
}
.header{
	float: left;
	margin-left: 0px;
	height: 320px;
}
.header a{
	float: left;
	margin-top: 5px;
	margin-right: 10px;
	text-decoration: none;
	width: 180px;
}